# desktop balatro appdata
appdata=~/.steam/steam/steamapps/compatdata/2379780/pfx/drive_c/users/steamuser/AppData/Roaming/Balatro
# desktop steammoded folder
steammoded=$appdata/Mods/SMODS
# name of android app
androidapp="dev.unofficial.balatro"
# path of android savedata
androidsaves=/sdcard/Android/data/$androidapp/files/save/game
# this is needed because some folder can only be accessed with run-as $androidapp and some can only be accessed without it
isexternal=1
# copy mods (1) or only saves (0)
syncmods=1
# version of lovely modloader
lovely="0.8.0"
